In [1]:
import pandas as pd

email_data = pd.read_csv('C:/Users/User/OneDrive - Asia Pacific University/APU Final Year Project/FYP Email Project Documents/Email Dataset Python/FYP PART 1/enron_cleaned.csv')

In [2]:
email_data.info(memory_usage='deep') 
print("Number of Rows and Columns: ", email_data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253175 entries, 0 to 253174
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     253175 non-null  object
 1   From     253175 non-null  object
 2   To       243285 non-null  object
 3   Subject  244469 non-null  object
 4   Message  253174 non-null  object
 5   Cc       59495 non-null   object
 6   Bcc      59495 non-null   object
dtypes: object(7)
memory usage: 539.7 MB
Number of Rows and Columns:  (253175, 7)

In [3]:
pst_count = email_data['Date'].str.contains(r'\(PST\)').sum()
pdt_count = email_data['Date'].str.contains(r'\(PDT\)').sum()

print("Number of PST : ", pst_count)
print("Number of PDT : ", pdt_count)

Number of PST :  120704
Number of PDT :  132470

In [4]:
email_data

,Date,From,To,Subject,Message,Cc,Bcc
0,"Mon, 14 May 2001 16:39:00 -0700 (PDT)",phillip.allen@enron.com,tim.belden@enron.com,NaN,Here is our forecast,NaN,NaN
1,"Fri, 4 May 2001 13:51:00 -0700 (PDT)",phillip.allen@enron.com,john.lavorato@enron.com,Re:,Traveling to have a business meeting takes the...,NaN,NaN
2,"Wed, 18 Oct 2000 03:00:00 -0700 (PDT)",phillip.allen@enron.com,leah.arsdall@enron.com,Re: test,test successful. way to go!!!,NaN,NaN
3,"Mon, 23 Oct 2000 06:13:00 -0700 (PDT)",phillip.allen@enron.com,randall.gay@enron.com,NaN,"Randy, Can you send me a schedule of the salar...",NaN,NaN
4,"Thu, 31 Aug 2000 05:07:00 -0700 (PDT)",phillip.allen@enron.com,greg.piper@enron.com,Re: Hello,Let's shoot for Tuesday at 11:45.,NaN,NaN
...,...,...,...,...,...,...,...
253170,"Wed, 28 Nov 2001 13:30:11 -0800 (PST)",john.zufferli@enron.com,kori.loibl@enron.com,Trade with John Lavorato,This is a trade with OIL-SPEC-HEDGE-NG (John L...,NaN,NaN
253171,"Wed, 28 Nov 2001 12:47:48 -0800 (PST)",john.zufferli@enron.com,john.lavorato@enron.com,Gas Hedges,Some of my position is with the Alberta Term b...,NaN,NaN
253172,"Wed, 28 Nov 2001 07:20:00 -0800 (PST)",john.zufferli@enron.com,dawn.doucet@enron.com,RE: CONFIDENTIAL,"2 -----Original Message----- From: Doucet, Daw...",NaN,NaN
253173,"Tue, 27 Nov 2001 11:52:45 -0800 (PST)",john.zufferli@enron.com,jeanie.slone@enron.com,Calgary Analyst/Associate,Analyst Rank Stephane Brodeur 1 Chad Clark 1 I...,NaN,NaN
253174,"Mon, 26 Nov 2001 10:48:43 -0800 (PST)",john.zufferli@enron.com,livia_zufferli@monitor.com,RE: ali's essays,i think the YMCA has a class that is for peopl...,NaN,NaN

In [5]:
date_format_transformation = email_data['Date'].str.contains(r'\b(Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday)\b', regex=True)

email_data.loc[date_format_transformation, 'Date'] = email_data.loc[date_format_transformation, 'Date'].str.replace(
    r'(Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday),\s(\w+)\s(\d+)',
    r'Mon, \3 \2 2001 00:00:00 -0000 (UTC)', regex=True
)

email_data['Date'] = email_data['Date'].str.strip()

C:\Users\User\AppData\Local\Temp\ipykernel_8492\3689233823.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  date_format_transformation = email_data['Date'].str.contains(r'\b(Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday)\b', regex=True)

In [ ]:
email_data['Date'] = pd.to_datetime(email_data['Date'], utc=True)
email_data['Date'] = email_data['Date'].dt.strftime('%a, %d %b %Y %H:%M:%S %z (%Z)')

In [ ]:
email_data['Date'] = email_data['Date'].str.replace(r'\s[+\-]\d{4}\s\([A-Za-z]+\)', '', regex=True)

In [ ]:
email_data[['Day', 'Date & Time']] = email_data['Date'].str.extract(r'(\w{3}),\s(\d{2}\s\w{3}\s\d{4}\s\d{2}:\d{2}:\d{2})')

email_data['Day'] = pd.to_datetime(email_data['Date & Time'], format='%d %b %Y %H:%M:%S').dt.strftime('%A')

email_data['Date & Time'] = pd.to_datetime(email_data['Date & Time'], format='%d %b %Y %H:%M:%S').dt.strftime('%Y-%m-%d %H:%M:%S')

email_data = email_data.drop(columns=['Date'])

In [ ]:
#pattern = r'(\w{3}), (\d{1,2} \w{3} \d{4}) (\d{2}:\d{2}:\d{2} [-+]\d{4} \(\w{3}\))'

#email_data[['Day', 'Date', 'Time']] = email_data['Date'].str.extract(pattern)

#column_order = ['From', 'To', 'Subject', 'Message', 'Day', 'Date', 'Time']
#email_data = email_data[column_order]

In [ ]:
print(email_data['Day'].unique())

print("\n", email_data['Date & Time'].unique())

['Monday' 'Friday' 'Wednesday' 'Thursday' 'Tuesday' 'Sunday' 'Saturday']

 ['2001-05-14 23:39:00' '2001-05-04 20:51:00' '2000-10-18 10:00:00' ...
 '2001-11-28 15:20:00' '2001-11-27 19:52:45' '2001-11-26 18:48:43']

In [ ]:
email_data.info(memory_usage='deep') 
print("Number of Rows and Columns: ", email_data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253175 entries, 0 to 253174
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   From         253175 non-null  object
 1   To           243285 non-null  object
 2   Subject      244469 non-null  object
 3   Message      253174 non-null  object
 4   Cc           59495 non-null   object
 5   Bcc          59495 non-null   object
 6   Day          253175 non-null  object
 7   Date & Time  253175 non-null  object
dtypes: object(8)
memory usage: 549.0 MB
Number of Rows and Columns:  (253175, 8)

In [ ]:
email_data['Date & Time'] = pd.to_datetime(email_data['Date & Time'])

email_data = email_data.sort_values(by=['Subject', 'Date & Time'])

email_data['Response Time'] = None  

for subject, group in email_data.groupby('Subject'):
    previous_row = None
    
    for idx, row in group.iterrows():
        if previous_row is not None:
            if pd.notna(previous_row['To']):
                recipients = [recipient.strip() for recipient in previous_row['To'].split(',')]
                
                if row['From'] in recipients:
                    response_time = row['Date & Time'] - previous_row['Date & Time']
                    email_data.loc[idx, 'Response Time'] = response_time
        previous_row = row

email_data['Response Time'] = pd.to_timedelta(email_data['Response Time'])

email_data['Response Time'] = email_data['Response Time'].apply(
    lambda x: str(x) if pd.notna(x) else 'NaT'
)

In [ ]:
email_data['Response Time'] = email_data['Response Time'].apply(
    lambda x: str(x) if pd.notna(x) else 'NaT'
)

In [ ]:
email_data.info(memory_usage='deep') 
print("Number of Rows and Columns: ", email_data.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 253175 entries, 198164 to 172220
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   From           253175 non-null  object
 1   To             243285 non-null  object
 2   Subject        244469 non-null  object
 3   Message        253174 non-null  object
 4   Cc             59495 non-null   object
 5   Bcc            59495 non-null   object
 6   Day            253175 non-null  object
 7   Date & Time    253175 non-null  datetime64[ns]
 8   Response Time  253175 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 557.3 MB
Number of Rows and Columns:  (253175, 9)

In [ ]:
email_data

In [ ]:
cleaned_enron_dataset_New_Features = 'enron_cleaned_new_feature.csv'
email_data.to_csv(cleaned_enron_dataset_New_Features, index=False)